@import url(../style.css);

body > section > article > img {
    width: 150px;
    margin: 0rem auto;
    border-radius: 1.5rem;
    display: block;
}

.container {
    margin-bottom: 2rem;
    width: 60%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    color: white;
}

.container h1 {
    font-size: 2rem;
    text-align: center;
    display: block;
    margin-bottom: 2rem;
}

.container p {
    text-align: justify;
}

body > section.container > article > input {
    margin-top: 0.5rem;
    color: goldenrod;
    place-content: gold;
    background-color: black;
    display: block;
    border-radius: 1rem;
    padding: 0.5rem;
    border-color: gold;
}

body > section.container > article > a {
    color: gold;
    margin-top: 0.5rem;
    display: flex;
    text-decoration: none;
    background-color: black;
    border-radius: 1rem;
    border-color: gold;
    padding: 0.5rem;
    border-style: inset;
    width: 10.5rem;
}

body > section > article.filmes {
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

