@import url("https://fonts.googleapis.com/css2? family= Nunito & display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: Nunito;
}
body {
    background-color: black;
}

body > header > :nth-child(1) {
    border-radius: 1rem;
    width: 10rem;
    height: 9rem;
    background: border-box;
    margin-left: 15rem;
    margin-top: 9rem;
}
